<?xml version="1.0" encoding="utf-8"?>
<BadrServer>
	<endpoint ipaddress="127.0.0.1" port="8080" mode="standalone" />
	<typeprefixes>
		<prefix name="middlewares" value="Badr.Server.Middlewares.$, Badr.Server" />
		<prefix name="contextprocs" value="Badr.Server.ContextProcessors.$, Badr.Server" />
		<prefix name="admin" value="Badr.Apps.Admin.$, Badr.Apps" />
		<prefix name="static" value="Badr.Apps.Static.$, Badr.Apps" />
		<prefix name="accounting" value="Badr.Demo.Accounting.$, Badr.Demo" />
	</typeprefixes>

	<website debug="false" 
			 default_charset="utf-8"
			 default_content_type="text/html"
			 static_url="static/"
			 static_root="_apps_staticfiles">
			 
		
		<!-- https settings -->
		
		<secure_proxy_ssl_header header="X-FORWARDED-PROTO" value="https"/>		
		
		<cookies session_httponly="true" 
		         session_secure="true" 
		         session_expire_browser_close="true"
		         csrf_secure="true" />
		         
		<!-- end https settings -->
			 
		<allowed_hosts>
			<pattern>127.0.0.1</pattern>
			<pattern>localhost</pattern>
		</allowed_hosts> 
		<databases>
			<db_settings id="default" engine="sqlite3" dbname="badr_demo.db" />
		</databases>
		<template_dirs>
			<dir>_apps_templates/</dir>
		</template_dirs>
		
		<context_processors>
			<type prefix="contextprocs" class="StaticFilesContextProcessor" />
		</context_processors>
		<middleware_classes>
			<type prefix="middlewares" class="CsrfMiddleware" />
			<type prefix="middlewares" class="SessionMiddleware" />
		</middleware_classes>
		<urls>
			<type prefix="admin" class="Admin+Urls" />
			<type prefix="static" class="StaticFilesApp+Urls" />
		</urls>
		<installed_apps>
			<type prefix="admin" class="Admin" />
			<type prefix="static" class="StaticFilesApp" />
			<type prefix="accounting" class="AccountingApp" />
		</installed_apps>
	</website>
	
</BadrServer>