<?xml version="1.0" encoding="utf-8"?>
<BadrServer>
	<endpoint ipaddress="127.0.0.1" port="8080" mode="standalone" />
	<typeprefixes>
		<prefix name="middlewares" value="Badr.Server.Middlewares.$, Badr.Server" />
		<prefix name="contextprocs" value="Badr.Server.ContextProcessors.$, Badr.Server" />
		<prefix name="admin" value="Badr.Apps.Admin.$, Badr.Apps" />
		<prefix name="static" value="Badr.Apps.Static.$, Badr.Apps" />
		<prefix name="accounting" value="Badr.Demo.Accounting.$, Badr.Demo" />
	</typeprefixes>
	<websites>
		<website id="1" host_name="127.0.0.1:8080" debug="false" default_charset="utf-8" default_content_type="text/html" static_url="static/" static_root="_apps_staticfiles">
			<databases>
				<db_settings id="default" engine="sqlite3" dbname="badr_demo.db" />
			</databases>
			<template_dirs>
				<dir>_apps_templates/</dir>
			</template_dirs>
			<context_processors>
				<type prefix="contextprocs" class="StaticFilesContextProcessor" />
			</context_processors>
			<middleware_classes>
				<type prefix="middlewares" class="CsrfMiddleware" />
				<type prefix="middlewares" class="SessionMiddleware" />
			</middleware_classes>
			<site_urls>
				<type prefix="admin" class="Admin+Urls" />
				<type prefix="static" class="StaticFilesApp+Urls" />
			</site_urls>
			<installed_apps>
				<type prefix="admin" class="Admin" />
				<type prefix="static" class="StaticFilesApp" />
				<type prefix="accounting" class="AccountingApp" />
			</installed_apps>
		</website>
	</websites>
</BadrServer>