body {
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	background-color: #FFFFFF;
	color: black;
	padding:0px;
	margin:0px;
}

div.header {
	width: 100%;
	height: 48px;
	line-height: 48px;
	font-size: 14px;
	font-weight: bold;
	text-align: right;
	/*background-image: -moz-linear-gradient(top, #DDD, #EEE, #FFF);*/
	background-color: #90a860;
	color: #f0f078; /* #446644;*/
}

div.header span.badr {
	font-size:37px;
	color: white; /* #009CEB; */
	/* text-shadow:1px 0px 0px #666666, 0px 1px 0px #666666, 1px 1px 0px #666666, -1px 0px 0px #ccc, 0px -1px 0px #ccc, -1px -1px 0px #ccc; 
	text-shadow:1px 1px 0px #666666, -1px -1px 0px #cef; */
}

div.main {
	width: 100%;
	background-color: #B5A290;
	margin: auto;
}

div.page_bread_crumb {
	width: auto;
	height: 25px;
	line-height: 25px;
	margin-top: 0px;
	font-size: 12px;
	font-style: italic;
	/* background-image: -moz-linear-gradient(top, #FFF, #B5A290); */
	background-color: #607848; /* #DDD5CD; */
	border-bottom: 1px solid #CABCAF;
	/* border-bottom: 1px solid #CABCAF; */
	color: white ; /* #776250; */
}

div.page_bread_crumb a {
	color: white;
	text-decoration: none;
}

div.page_bread_crumb a:hover {
	color: white;
	text-decoration: underline;
}

div.models_title {
	width: auto;
	height: 32px;
	line-height: 32px;
	font-size: 14px;
	font-weight: bold;
	color: #777;
}

div.paging {
	width: auto;
	height: 24px;
	line-height: 24px;
	font-size: 12px;
	color: #777;
}

div.paging a {
	background-image: -moz-linear-gradient(bottom, #c0d878, #d0e888, #e0f898);
    color: #506820;
    border: 1px solid #b0c880;
    border-right: 1px solid #90a860;
    border-bottom: 1px solid #90a860;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    
	margin: 0 5px;
	padding: 0 5px;
	text-decoration: none;
	font-weight: bold;
}

div.paging span.disabledLink {

	background-color: #eee;
    color: #bbb;
    border: 1px solid #ddd;
    
    border-radius: 3px;
   
	margin: 0 5px;
	padding: 0 5px;
	font-weight: bold;
	cursor: default;
}

div.paging a:active {
    border: 1px solid #708840;
    border-right: 1px solid #c0d890;
    border-bottom: 1px solid #c0d890;
}

div.models {
	width: auto;
	margin-top: 0px;
	background-color: #ffffff;
}

table.models_table {
	width: 100%;
	background-color: white;
	border-bottom: 1px solid #90a860;
	font-size: 12px;    
}

table.models_table tr.tr_header {
	
}

table.models_table tr.tr_header th {	
	font-weight: normal;
	text-align:left;
	background-image: -moz-linear-gradient(bottom, #c0d878, #d0e888, #e0f898);
	color: #303f24;
	border-right: 1px solid #90a860;
	border-top: 1px solid #b0c880;
	border-bottom: 1px solid #90a860;
	height: 27px;
	padding: 3px 7px;
}

table.models_table td {
	padding: 3px 7px;
	border-right: 1px solid #90a860;
	border-left: 1px solid #b0c880;"
	border-bottom: 1px solid #FFF;
}

table.models_table td a {
	color: #453E37;
	font-weight: bold;
	text-decoration: none;
}

button,
input[type="reset"],
input[type="button"],
input[type="submit"],
input[type="file"] > input[type="button"] {
	background-image: -moz-linear-gradient(bottom, #c0d878, #d0e888, #e0f898);
    color: #506820;
    border: 1px solid #b0c880;
    border-right: 1px solid #90a860;
    border-bottom: 1px solid #90a860;
    border-radius: 3px;
    height: 23px;
    cursor: pointer;
    outline: none;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

button:active,
input[type="reset"]:active,
input[type="button"]:active,
input[type="submit"]:active,
input[type="file"] > input[type="button"]:active {
    border: 1px solid #708840;
    border-right: 1px solid #c0d890;
    border-bottom: 1px solid #c0d890;
}

label.fieldName {
	display: block;
	width: 200px;
	float: left;
}

.top-margin10 {
    margin-top: 10px;
}

.right-top-margin10 {
	margin-right: 10px;
	margin-top: 10px;
}