{% load BadrFilters %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Badr administration</title>
		<link rel="stylesheet" href="{{ STATIC_URL }}admin/admin.css" type="text/css"/>
	</head>
	<body>
	<div class="main">
		<div class="header"><div style="margin: 0 15px;width:auto;">administration&nbsp;<span class="badr">&lt;Badr;/&gt;</span></div></div>
		<div class="page_bread_crumb">
			&nbsp;&nbsp;&nbsp;admin &gt; <a href="{% url "model_list_page_url" modelName 1 %}">{{ modelName }}</a>&nbsp;&gt;&nbsp;{{ model.PK }}
		</div>
		<div class="models">
    		<div class="models_title" style="padding: 0 0 0 15px;width:auto;">
        		{{ modelName }} : <i>&lt;&lt;{{ model }}&gt;&gt;</i>
    		</div>
			<div style="margin: 15px 0 0 15px;width:auto;font-size: 12px; ">
			{% for field in model.Fields %}
        		<div{% if not for.counter = 0 %} class="top-margin10" {% endif %}>
	        		<label class="fieldName" for="input_{{ field.Name }}">{{ field.Name }}</label>
	        		{{ field.HtmlTag }}
        		</div>
			{% endfor %}
		   </div>
		</div>
		<div style="background-color:white">
			<label class="fieldName" style="margin-left: 15px;">&nbsp;</label><input type="button" class="right-top-margin10" value="Save"/><input type="button" class="right-top-margin10" value="Cancel"/>
		</div>
	</div>
	</body>
</html>
